@charset "UTF-8";

/* ベース
------------------------------ */

:root {
    /* 色スタイル */
    --red: #E22A00;
    --yellow: #FFE100;
    --white: #FFF7F7;
    --black: #131A12;
    --white2: #fff;
    --childPage-bg: linear-gradient(90deg, #fff, #FFF8F2, #FFDEBF);
}

body {
    font-family: "Zen Maru Gothic", sans-serif;
    color: var(--black);

}

img {
    max-width: 100%;
}


/* 共通
------------------------------ */

/* 斜めボタン */
.c-btn {

    width: 179px;
    height: 56px;
    color: var(--white2);
    font-weight: bold;
    background-color: var(--red);
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.c-btn::after {
    content: " ";
    width: 179px;
    height: 56px;
    background-color: var(--yellow);
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: -10;
}



/* header */
.c-header__title {
    aspect-ratio: 35 / 3;
    width: clamp(175px, 3.961rem + 29.765vw, 492px);
}

.c-header__sns-icon img {
    aspect-ratio: 1 / 1;
    width: clamp(30px, 22.958px + 1.878vw, 50px);
}

.c-header__hamburger-menu img {
    aspect-ratio: 1 / 1;
    width: clamp(32px, 22.141px + 2.629vw, 60px);
}

.l-header__nav {
    display: flex;
    gap: clamp(15px, 6.197px + 2.347vw, 40px);
    align-items: center;
}

.l-header__sns-list {
    display: flex;
    gap: clamp(10px, 4.014px + 1.596vw, 27px);
    align-items: center;
}

.l-header {
    display: flex;
    height: 97px;
    align-items: center;
    background-color: var(--white);
    padding: 0 15px;

    justify-content: space-between;
}

.l-header+* {
    /* TODO: 仮値 */
    margin-top: clamp(20px, 5.915px + 3.756vw, 60px);
}

/* footer */
.l-footer {}


/* index.html
------------------------------ */


/* menu.html
------------------------------ */
.c-section-title+* {
    margin-block-start: 16px
}


/* menu-b-XX.html
------------------------------ */
/* メニュ―詳細ページ内の共通項 */
main.l-menu {

    background: var(--childPage-bg);
}

.menu-b-n * {

    color: var(--white2);

}

/* メインコンテンツの幅・配置 */
.menu-b-n .c-main-container {
    width: 100%;
    margin-inline: auto;
}


/* コンポーネント */

.c-menu-card {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
}

.c-menu-card .c-share-btn {
    margin-inline: auto;
}

/* 共有ボタン */
.c-share-btn {
    width: 87%;
    height: 62px;
    background: var(--white2);
    border: var(--black) solid 1px;
    display: flex;
    justify-content: center;
    filter: drop-shadow(4px 4px 0 var(--white2));
}

a.c-share-btn {
    font-weight: bold;
    font-size: clamp(16px, 15.296px + 0.188vw, 18px);
    color: var(--black);
    align-items: center;
    justify-content: center;
    gap: 20px;
}

a.c-share-btn::after {
    content: url(../img/menu-b/share_black.png);
}




/* faq.html
------------------------------ */


/* contact.html
------------------------------ */


/* news.html
------------------------------ */


/* privacy.html
------------------------------ */




@media (min-width:768px) {


    /* ベース
------------------------------ */


    /* 共通
------------------------------ */



    /* index.html
------------------------------ */


    /* menu.html
------------------------------ */


    /* menu-b-XX.html
------------------------------ */
    .menu-b-n .c-main-container {
        width: min(60%, 960px);
        margin-inline: auto;
    }

    .c-menu-card {
        flex-direction: row;
    }



    /* faq.html
------------------------------ */


    /* contact.html
------------------------------ */


    /* news.html
------------------------------ */


    /* privacy.html
------------------------------ */

}