@charset "UTF-8";

/* ベース
------------------------------ */

:root{
    /* 色スタイル */
    --red:#E22A00;
    --yellow:#FFE100;
    --white:#FFF7F7;
    --black:#131A12;
    --white2:#fff;
    --childPage-bg:linear-gradient(90deg, #fff,#FFF8F2,#FFDEBF);
}

body{
    font-family: "Zen Maru Gothic", sans-serif;
    color: var(--black);  

}

img{
    max-width: 100%;
}


/* 共通
------------------------------ */



/* index.html
------------------------------ */


/* menu.html
------------------------------ */


/* menu-b-XX.html
------------------------------ */
/* メニュ―詳細ページ内の共通項 */
main.l-main{
    background: var(--childPage-bg);
}

.menu-b-n *{
    color: var(--white2);
    
}



/* faq.html
------------------------------ */


/* contact.html
------------------------------ */


/* news.html
------------------------------ */


/* privacy.html
------------------------------ */