@charset "UTF-8";

/* ベース
------------------------------ */

:root {
  /* 色スタイル */
  --red: #e22a00;
  --yellow: #ffe100;
  --white: #fff7f7;
  --black: #131a12;
  --white2: #fff;
  --childPage-bg: linear-gradient(90deg, #fff, #fff8f2, #ffdebf);
}

body {
  font-family: "Zen Maru Gothic", sans-serif;
  color: var(--black);
}

img {
  max-width: 100%;
}

/* 共通
------------------------------ */

/* 斜めボタン（clip-path版...borderが使えないが、文字数制限なし）*/
/* c-btnはaタグの親につけてください */
.c-btn {
  filter: drop-shadow(-10px 10px 0 var(--yellow));
}

/* .c-btn_linkはaタグにつけてください */
.c-btn_link {
  width: 179px;
  height: 56px;
  color: var(--white2);
  font-weight: bold;
  font-size: 21px;
  background-color: var(--red);
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 斜めボタン　白メイン・赤影 */
/* .c-btn--redWhite {
  filter: drop-shadow(-10px 10px 0 var(--red));
} */

/* .c-btn_link--redWhite {
  color: var(--red);
  background-color: var(--white);
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
} */

/* 斜めボタン2(transform版...borderを使えるが、7文字限定用) */
/* c-btnはc-btm_boxとc-btn_linkをまとめる親にしてください */
.c-btn2 {
  padding-block: 10px 0;
  position: relative;
  width: 179px;
  height: 56px;
}

/* c-btn_boxはc-btnの子ども、c-btn_linkと兄弟にしてください */
.c-btn2_box {
  background: var(--yellow);
  transform: skewX(-12deg);
  width: 179px;
  height: 56px;
}

.c-btn2_box::after {
  content: " ";
  position: absolute;
  top: -10px;
  right: -10px;
  background: var(--red);
  width: 179px;
  height: 56px;
}

/* .c-btn_linkはaタグにつけてください */
.c-btn2_link {
  position: absolute;
  top: 15px;
  right: 5px;
  font-weight: bold;
  font-size: 21px;
  color: var(--white2);
}

/* 斜めボタン2　白メイン・赤影 */

.c-btn2--red .c-btn2_box {
  background: var(--red);
}

.c-btn2--red .c-btn2_box::after {
  background: var(--white2);
  border: 1px solid var(--red);
}

.c-btn2--red .c-btn2_link {
  color: var(--red);
}

/* header */
.c-header__title {
  aspect-ratio: 35 / 3;
  width: clamp(175px, 3.961rem + 29.765vw, 492px);
}

.c-sns-icon img {
  aspect-ratio: 1 / 1;
  width: clamp(30px, 22.958px + 1.878vw, 50px);
}

.c-sns-icon--footer img {
  aspect-ratio: 1 / 1;
  width: 50px;
}

.c-header__hamburger-menu img {
  aspect-ratio: 1 / 1;
  width: clamp(32px, 22.141px + 2.629vw, 60px);
}

.l-header__icons {
  display: flex;
  gap: clamp(15px, 6.197px + 2.347vw, 40px);
  align-items: center;
}

.l-sns-list {
  display: flex;
  gap: clamp(10px, 4.014px + 1.596vw, 27px);
  align-items: center;
}

.l-sns-list--footer {
  gap: 25px;
}

.l-header {
  display: flex;
  height: 97px;
  align-items: center;
  background-color: var(--white);
  padding: 0 15px;

  justify-content: space-between;
}

.l-header+* {
  margin-top: clamp(20px, 5.915px + 3.756vw, 60px);
}

/* footer */
.l-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(20px, 15.070px + 1.315vw, 34px);

  padding: clamp(60px, 45.915px + 3.756vw, 100px) 0;

  background-color: var(--white);
}

.l-footer__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(20px, 12.958px + 1.878vw, 40px);
}

.l-footer__relevant-parties-list {
  display: flex;
  flex-direction: column;
  gap: clamp(4px, 3.296px + 0.188vw, 6px);
}

.c-footer__relevant-parties-list-item {
  display: flex;
  font-size: clamp(14px, 13.296px + 0.188vw, 16px);
  gap: 10px;
}

.c-footer__term {
  width: clamp(75px, 67.606px + 1.972vw, 96px);
  height: clamp(30px, 27.887px + 0.563vw, 36px);
  line-height: clamp(30px, 27.887px + 0.563vw, 36px);
}

.c-footer__details {
  width: clamp(214px, 186.535px + 7.324vw, 292px);
  height: clamp(30px, 27.887px + 0.563vw, 36px);
  line-height: clamp(30px, 27.887px + 0.563vw, 36px);
}

.c-footer__contact-item {
  font-size: clamp(14px, 12.592px + 0.376vw, 18px);
}

.c-privacy {
  font-size: clamp(12px, 11.296px + 0.188vw, 14px);
  text-decoration: underline;
}

.c-copyright {
  font-size: clamp(12px, 11.296px + 0.188vw, 14px);
}

.l-footer__info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.l-footer__contact {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

/* index.html(kansp)
------------------------------ */
.l-content-wrap {
  width: min(92vw, 960px);
  margin-inline: auto;
}

body {}

.l-rest-image {
  aspect-ratio: 4 / 1;
  width: 100vw;
  object-fit: cover;
}

/* 斜めボタン　赤メイン・白影 */
.c-btn--whitered {
  filter: drop-shadow(-10px 10px 0 var(--white2));
}

.c-btn_link--whitered {
  color: var(--white2);
  background-color: var(--red);
}

.l-googlemap {
  width: min(92vw, 960px);
  height: 300px;
}

.l-news-sec-bg {
  background-color: #eb8e3a;
}

/* menu.html
------------------------------ */
/*  menu一覧の共通部分 */
.l-main-menu {
  background: var(--childPage-bg);
}

.c-section-title+* {
  margin-block-start: 16px;
}

.shop-map+* {
  margin-block-start: 40px;
}

.l-menu-list {
  width: 92%;
  margin: 0 auto;
}

/*  menu一覧コンポーネント */
.c-menu-card {
  display: flex;
  flex-direction: column;
  color: var(--white);
  justify-content: center;
  gap: 2px;
  width: 100%;
  margin-inline: auto;
  line-height: 1.5;
}

.c-menu-card h2 {
  font-size: clamp(1rem, 0.912rem + 0.376vw, 1.25rem);
  font-weight: bold;
}

.c-menu-card--b01,
.c-menu-card--b02,
.c-menu-card--b03,
.c-menu-card--b04,
.c-menu-card--b05,
.c-menu-card--b06,
.c-menu-card--b07 {
  background-color: var(--black);
  padding: 10px;
  margin-bottom: 10px;
}

.c-menu-card .c-button-goto-booth {
  width: 252;
  height: 44px;
  background: var(--black);
  border: var(--white) solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: drop-shadow(4px 4px 0 var(--black));
  text-align: center;
}

/* menu-b-XX.html
------------------------------ */
/* メニュ―詳細ページ内の共通項 */
main.l-menu-b {
  background: var(--childPage-bg);
}

main.l-menu-b p {
  color: var(--white2);
}

/* メインコンテンツの幅・配置 */
main.l-menu-b .c-main-container {
  width: 100%;
  margin-inline: auto;
}

/* コンポーネント */

.c-menu-b-card {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
}

.c-menu-b-card .c-share-btn {
  margin-inline: auto;
}

/* 共有ボタン */
.c-share-btn {
  width: 87%;
  height: 62px;
  background: var(--white2);
  border: var(--black) solid 1px;
  display: flex;
  justify-content: center;
  filter: drop-shadow(4px 4px 0 var(--white2));
}

a.c-share-btn {
  font-weight: bold;
  font-size: clamp(16px, 15.296px + 0.188vw, 18px);
  color: var(--black);
  align-items: center;
  justify-content: center;
  gap: 20px;
}

a.c-share-btn::after {
  content: url(../img/menu-b/share_black.png);
}

/* faq.html
------------------------------ */

/* contact.html
------------------------------ */

/* news.html
------------------------------ */

/* privacy.html
------------------------------ */

@media (min-width: 768px) {
  /* ベース
------------------------------ */

  /* 共通
------------------------------ */
  /* 斜めボタン */

  /* index.html(kanpc)
------------------------------ */

  /* menu.html
------------------------------ */

  /* menu-b-XX.html
------------------------------ */
  main.l-menu-b .c-main-container {
    width: min(60%, 960px);
    margin-inline: auto;
  }

  .c-menu-b-card {
    flex-direction: row;
  }

  /* faq.html
------------------------------ */

  /* contact.html
------------------------------ */

  /* news.html
------------------------------ */

  /* privacy.html
------------------------------ */
}