@charset "UTF-8";

/* ベース
------------------------------ */

:root {
    /* 色スタイル */
    --red: #E22A00;
    --yellow: #FFE100;
    --white: #FFF7F7;
    --black: #131A12;
    --white2: #fff;
    --childPage-bg: linear-gradient(90deg, #fff, #FFF8F2, #FFDEBF);
}

body {
    font-family: "Zen Maru Gothic", sans-serif;
    color: var(--black);

}

img {
    max-width: 100%;
}


/* 共通
------------------------------ */



/* index.html
------------------------------ */


/* menu.html
------------------------------ */
.c-section-title+* {
    margin-block-start: 16px
}


/* menu-b-XX.html
------------------------------ */
/* メニュ―詳細ページ内の共通項 */
main.l-menu {

    background: var(--childPage-bg);
}

.menu-b-n * {

    color: var(--white2);

}

/* メインコンテンツの幅・配置 */
.menu-b-n .c-main-container {
    width: 100%;
    margin-inline: auto;
}


/* コンポーネント */

.c-menu-card {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
}

.c-menu-card .c-share-btn {
    margin-inline: auto;
}

/* 共有ボタン */
.c-share-btn {
    width: 87%;
    height: 62px;
    background: var(--white2);
    border: var(--black) solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    filter: drop-shadow(4px 4px 0 var(--white2));
}

.c-share-btn a {
    font-weight: bold;
    font-size: clamp(16px, 15.296px + 0.188vw, 18px);
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.c-share-btn a::after {
    content: url(../img/menu-b/share_black.png);
}




/* faq.html
------------------------------ */


/* contact.html
------------------------------ */


/* news.html
------------------------------ */


/* privacy.html
------------------------------ */




@media (min-width:768px) {


    /* ベース
------------------------------ */


    /* 共通
------------------------------ */



    /* index.html
------------------------------ */


    /* menu.html
------------------------------ */


    /* menu-b-XX.html
------------------------------ */
    .menu-b-n .c-main-container {
        width: min(60%, 960px);
        margin-inline: auto;
    }

    .c-menu-card {
        flex-direction: row;
    }



    /* faq.html
------------------------------ */


    /* contact.html
------------------------------ */


    /* news.html
------------------------------ */


    /* privacy.html
------------------------------ */

}