@charset "UTF-8";

/* ベース
------------------------------ */

:root {
    /* 色スタイル */
    --red: #E22A00;
    --yellow: #FFE100;
    --white: #FFF7F7;
    --black: #131A12;
    --white2: #fff;
    --childPage-bg: linear-gradient(90deg, #fff, #FFF8F2, #FFDEBF);
}

body {
    font-family: "Zen Maru Gothic", sans-serif;
    color: var(--black);

}

img {
    max-width: 100%;
}


/* 共通
------------------------------ */



/* index.html
------------------------------ */


/* menu.html
------------------------------ */
.c-section-title+* {
    margin-block-start: 16px
}


/* menu-b-XX.html
------------------------------ */
/* メニュ―詳細ページ内の共通項 */
main.l-main {
    background: var(--childPage-bg);
}

.menu-b-n * {
    color: var(--white2);

}

/* メインコンテンツの幅・配置 */
.menu-b-n .c-main-container {
    width: min(60%, 960px);
    margin-inline: auto;
}


/* コンポーネント */

.c-menu-card {
    display: flex;
    background-color: var(--black);
}

/* 共有ボタン */
.c-share-btn {
    width: 420px;
    background: var(--white2);
}

.c-share-btn a {
    font-weight: bold;
    font-size: 18px;
    color: var(--black);
}



/* faq.html
------------------------------ */


/* contact.html
------------------------------ */


/* news.html
------------------------------ */


/* privacy.html
------------------------------ */